{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main class="content" role="main">
    {{! Everything inside the #author tags pulls data from the author }}
    {{#author}}
        <section class="author-profile">
            {{#if image}}
            <figure class="author-image">
                <div class="img" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></div>
            </figure>
            {{/if}}

            <div class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>

                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                    <span class="author-stats"><i class="icon-stats"></i> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
                </div>
            </div>
        </section>
    {{/author}}

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>
